body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.app {
	font-family: Roboto;
	display: flex;
	flex-direction: column;
	align-items: center;
	.header {
		width: 100%;
		background: #f0f5ff;
		height: 341px;
		.header__title {
			color: #1a1a1a;
			text-align: center;
			font-size: 3.75rem;
			font-style: normal;
			font-weight: 700;
			line-height: 6.25rem;
			@media (max-width: 800px) {
				font-size: 2.75rem;
			}
			@media (max-width: 485px) {
				font-size: 2rem;
			}
		}
		.header__description {
			text-align: center;
		}
	}
	.convertor {
		position: relative;
		top: -7.25rem;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 1.875rem;
		padding: 2rem 2.5rem 2.5rem;
		width: 56.25rem;
		// height: 23.188rem;
		border-radius: 0.5rem;
		background: #fff;
		box-shadow: 0 1.25rem 3.125rem 0.125rem rgba(26, 26, 26, 0.1);
		@media (max-width: 940px) {
			width: 40.25rem;
		}
		@media (max-width: 800px) {
			width: 30.25rem;
		}
		@media (max-width: 485px) {
			width: 24.25rem;
		}
		.convertor__title {
			width: auto;
			color: #1a1a1a;
			text-align: center;
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: 2.625rem;
			@media (max-width: 800px) {
				font-size: 1.5rem;
			}
			@media (max-width: 485px) {
				line-height: 1.825rem;
			}
		}
		.convertor__description {
			color: #1a1a1a;
			text-align: center;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1.438rem;
			.convertor__description_selected {
				font-weight: 700;
			}
		}
		.currencies {
			display: flex;
			gap: 1.875rem;
			align-items: center;
			@media (max-width: 940px) {
				flex-direction: column;
			}
			.currencies-value {
				border: 1px solid #c6c6c6;
				display: flex;
				.currencies-value-field {
					width: 60%;
					display: flex;
					flex-direction: column;
					row-gap: 0.3125rem;
					color: #1a1a1a;
					padding: 0.5rem 1.25rem;
					label {
						margin-top: 0.625rem;
						font-size: 1rem;
						font-weight: 400;
						font-style: normal;
					}
					input {
						font-size: 1.5rem;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						border: none;
						outline: none;
						margin-bottom: 0.375rem;
						&::placeholder {
							color: #1a1a1a;
						}
						&:disabled {
							background-color: #fff;
						}
						&::-webkit-outer-spin-button,
						&::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0; 
						}
					}
				}
				.currencies-list {
					appearance: none;
					border: none;
					outline: none;
					border-left: 1px solid #c6c6c6;
					width: 40%;
					text-align: center;
					color: #1a1a1a;
					font-family: Roboto;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					&::after {
						content: '▼';
						padding: 0 8px;
					}
				}
				select:not([multiple]) {
					background-repeat: no-repeat;
					background-position: calc(100% - 1.5em) 1.625em;
					background-size: 0.85em auto;
					background-image: url('/down-arrow.svg');
				}
			}
		}
		.swap-left-right {
			cursor: pointer;
			width: 22px;
			height: 20px;
			background-image: url('/swap-rightLeft.svg');
			@media (max-width: 940px) {
				display: none;
			}
		}
		.swap-top-down {
			cursor: pointer;
			width: 32px;
			height: 30px;
			background-image: url('/swap-topDown.svg');
			@media (min-width: 940px) {
				display: none;
			}
		}
	}
}
